
<mat-toolbar color="primary">
  <button mat-icon-button (click)="goBack()" aria-label="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="toolbar-title">Formulation Detail</span>
</mat-toolbar>

<mat-card class="formulation-card">
  <h2 class="title">{{ formulation?.title }}</h2>

  <mat-form-field appearance="fill" class="full-width" floatLabel="auto">
    <mat-label>Formulation</mat-label>
    <textarea matInput rows="6" [value]="formulation?.content" disabled class="custom-textarea"></textarea>
  </mat-form-field>
</mat-card>


<div class="fab-container">
  <button mat-fab color="primary" (click)="toggleFab()" aria-label="Menu">
    <mat-icon>{{ isFabOpen ? 'close' : 'menu' }}</mat-icon>
  </button>

  @if (isFabOpen) {
    <button mat-mini-fab class="fab-action green-fab" (click)="edit()" aria-label="Edit">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-mini-fab color="warn" class="fab-action" (click)="confirmDelete()" aria-label="Delete">
      <mat-icon>cancel</mat-icon>
    </button>
  }
</div>
