<mat-card class="formulation-card">
  <h2 class="title">{{ formulation?.title }}</h2>

  <mat-form-field appearance="fill" class="full-width" floatLabel="auto">
    <mat-label>Formulation</mat-label>
    <textarea matInput rows="6" [value]="formulation?.content" disabled class="custom-textarea"></textarea>
  </mat-form-field>
</mat-card>



<div class="fab-container">
  <button mat-fab color="primary" (click)="toggleFab()" aria-label="Menu">
    <mat-icon>{{ isFabOpen ? 'close' : 'menu' }}</mat-icon>
  </button>
  @if (isFabOpen) {
  <button mat-fab class="green-fab" (click)="edit()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-fab color="warn" (click)="confirmDelete()">
    <mat-icon>delete</mat-icon>
  </button>
  }
</div>