mat-card {
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}

mat-card-title {
  font-size: 1.5rem;
}

mat-card-subtitle {
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.2rem;
  list-style-type: disc;
}

button {
  margin-top: 1rem;
}

.highlight {
  color: blue;
  font-weight: bold;
}