



<mat-toolbar color="primary" class="toolbar">
  <!-- Botón de retroceso alineado a la izquierda -->
  <button mat-icon-button (click)="back()" aria-label="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span class="spacer"></span>

  <button
    mat-button
    class="fav-button"
    [ngClass]="{ 'add': !isFav, 'remove': isFav }"
    (click)="toggleFavorite()"
  >
    {{ isFav ? 'Remove from favorites' : 'Add to favorites' }}
  </button>
</mat-toolbar>





<mat-card>
    @if(product){
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>
        Active Ingredient: {{ product.activeIngredients }}
    </mat-card-subtitle>

    <mat-card-content>
        <p><strong>Application/Treatment:</strong></p>
        <p>{{ product.applicationTreatment }}</p>

        <p><strong>Pests Controlled:</strong></p>
        <ul>
            @for (pest of product.pestsControlled; track pest) {
            <li [ngClass]="{ 'highlight': pest.toLowerCase() === pestData.name.toLowerCase() }">
                {{ pest }}
            </li>
            }
        </ul>
    </mat-card-content>
    }
</mat-card>