.sheet-container {
      padding: 16px;
      font-size: 16px;
    }
    h3 {
      margin-top: 0;
      font-size: 18px;
      text-align: center;
    }
    ul {
      list-style-type: disc;
      padding-left: 20px;
    }
    li {
      margin-bottom: 10px;
    }
    .actions {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }