
<mat-toolbar color="primary" class="main-toolbar">
  <button mat-icon-button (click)="goHome()" aria-label="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="mat-headline section-title">{{ title }}</h2>
</mat-toolbar>


<nav class="step-nav">

  <button mat-button (click)="setStep('favorites')" [ngClass]="{ active: currentStep === 'favorites' }">
    <mat-icon>star</mat-icon>
    <span class="step-label">Favorites</span>
  </button>

  <button mat-button (click)="setStep('formulations')" [ngClass]="{ active: currentStep === 'formulations' }">
    <mat-icon>science</mat-icon>
    <span class="step-label">Formulations</span>
  </button>

  <button mat-button (click)="setStep('storage')"  [ngClass]="{ active: currentStep === 'storage' }">
    <mat-icon>inventory_2</mat-icon>
    <span class="step-label">Storage</span>
  </button>


</nav>

<!-- Contenido dinámico -->
<main class="section-container">
  <ng-container [ngSwitch]="currentStep">
    <section *ngSwitchCase="'favorites'">

    
      @if (favorites.length === 0) {
        <div class="empty"> 
          <p>No favorites saved yet. Add products to favorites to see them here.</p>
        </div>
      }
    
      @for (product of favorites; track product.name) {
        <mat-card (click)="goToDetail(product.id)" class="clickable-card">
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-content>
            <p><strong>Active Ingredient:</strong> {{ product.activeIngredients }}</p>
          </mat-card-content>
        </mat-card>
      }
 
     
    </section>

    <section *ngSwitchCase="'formulations'">
      <app-formulations-list></app-formulations-list>
    </section>

    <section *ngSwitchCase="'storage'">
      <p>Storage section coming soon.</p>
    </section>
  </ng-container>
</main>
