

<!-- Contenido dinámico -->
 <app-magic-nav (stepChanged)="setStep($event)"></app-magic-nav>
<main class="section-container">
  <ng-container [ngSwitch]="currentStep">
    <section *ngSwitchCase="'favorites'">

    
      @if (favorites.length === 0) {
        <div class="empty"> 
          <p>No favorites saved yet. Add products to favorites to see them here.</p>
        </div>
      }
    
      @for (product of favorites; track product.name) {
        <mat-card (click)="goToDetail(product.id)" class="clickable-card">
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-content>
            <p><strong>Active Ingredient:</strong> {{ product.activeIngredients }}</p>
          </mat-card-content>
        </mat-card>
      }
 
     
    </section>

    <section *ngSwitchCase="'formulations'">
      <app-formulations-list></app-formulations-list>
    </section>

    <section *ngSwitchCase="'storage'">
      <app-dashboard></app-dashboard>
    </section>
  </ng-container>
</main>
