mat-card {
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}

mat-card-title {
  font-size: 1.5rem;
}

mat-card-subtitle {
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.2rem;
  list-style-type: disc;
}

button {
  margin-top: 1rem;
}

.highlight {
  color: blue;
  font-weight: bold;
}


// ============


.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.spacer {
  flex: 1 1 auto;
}


/* Estilo común para el botón */
.fav-button {
  background: transparent !important;
  font-weight: 500;
  text-transform: none; /* opcional: para mantener mayúsculas/minúsculas */
}

/* Texto blanco para "Add to favorites" */
.fav-button.add {
  color: white;
}

/* Texto rojo para "Remove from favorites" */
.fav-button.remove {
  color: white;
}


.caja{
margin-bottom: 8px;
padding: 5px;
border-radius: 0px;
background: linear-gradient(225deg, #ebe9e9, #fbfbfb);
box-shadow:  -9px 9px 16px #f8eeee,
             9px -9px 16px #ffffff;
}
.caja_1{
margin-bottom: 8px;
padding: 5px;
border-radius: 0px;
background: linear-gradient(225deg, #d4d4d4, #fbfbfb);
box-shadow:  -9px 10px 17px #e1dddd,
             9px -10px 17px #ffffff;
}

.sep{
  margin-top: 8px;
}