
<div class="dashboard-container">

    @if (notifications.length > 0) {
        <mat-card class="dashboard-card notifications-card">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon color="warn" class="notification-icon">notification_important</mat-icon>
                    Notifications
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    @for (notification of notifications; track notification.message) {
                    <li>
                        {{ notification.message }}
                    </li>
                    }
                </ul>
            </mat-card-content>
        </mat-card>
    }
 
 <div class="quick-actions">
    <button mat-flat-button color="accent" class="action-button primary-action" (click)="onRegisterUsage()">
      <mat-icon>add_shopping_cart</mat-icon>
      Register Product Usage
    </button>

    <div class="secondary-actions">
      <button mat-stroked-button class="action-button" (click)="onAddNewProduct()">
        <mat-icon>add_box</mat-icon>
        Add New
      </button>
      <button mat-stroked-button class="action-button" (click)="goToStorageList()">
       <mat-icon>list</mat-icon>
        Products
      </button>
    </div>
  </div>
 
  <mat-card class="dashboard-card summary-card">
    <mat-card-header>
      <mat-card-title>Package Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content class="summary-content">
      <div class="summary-item">
        <span class="summary-value in-use">{{ summary.inUse }}</span>
        <span class="summary-label">In Use</span>
      </div>
      <div class="summary-item">
        <span class="summary-value in-stock">{{ summary.inStock }}</span>
        <span class="summary-label">In Stock</span>
      </div>
      <div class="summary-item">
        <span class="summary-value empty">{{ summary.empty }}</span>
        <span class="summary-label">Empty</span>
      </div>
    </mat-card-content>
  </mat-card>



  <!-- Recent Usage Card -->
  <mat-card class="dashboard-card recent-usage-card">
    <mat-card-header>
      <mat-card-title>Recent Usage</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="usage-list">
        <li *ngFor="let usage of recentUsages">
          <mat-icon class="usage-icon">arrow_forward_ios</mat-icon>
          <span>{{ record?.productName }} ({{ record?.quantityUsed}}{{ record?.unitOfMeasure }}))</span>
        </li>
        <li *ngIf="recentUsages.length === 0">No recent usage.</li>
      </ul>
    </mat-card-content>
  </mat-card>


 
</div>


<!-- <mat-toolbar class="bottom-nav">
  <button mat-button class="nav-item">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button class="nav-item">
    <mat-icon>inventory_2</mat-icon>
    <span>Inventory</span>
  </button>
  <button mat-button class="nav-item">
    <mat-icon>location_on</mat-icon>
    <span>Locations</span>
  </button>
  <button mat-button class="nav-item">
    <mat-icon>analytics</mat-icon>
    <span>Reports</span>
  </button>
</mat-toolbar> -->


