
<div class="list-container">
  <mat-progress-spinner *ngIf="loading" diameter="36" mode="indeterminate"></mat-progress-spinner>

  @if (!loading && phrases.length) {
        <div class="formulations">
          @for (f of phrases; track f.phrase ) {
        <mat-card (click)="selectPhrase(f)" class="clickable-card">
            <mat-card-content class="card-content">
              <div class="phrase-text">{{ f.phrase }}</div>
              <div class="actions"> 
                <button mat-icon-button appLongPress (appLongPress)="deletePhrase(f)" aria-label="Eliminar">
                  <mat-icon style="color: brown;">delete</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
          <br>
        }

        <button mat-fab color="primary" class="add-btn" (click)="addNew()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
  }
  
  <div *ngIf="!loading && phrases.length === 0" class="empty">
   No phrases
  </div>
</div>
