
<div class="container">
  <div class="left">
    <h3>List (drag to reorder)</h3>
    <div class="list-area" *ngIf="listComputed().length; else empty">
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="item" *ngFor="let item of listComputed(); index as i" cdkDrag>
          <mat-card class="item-card">
            <div class="item-body">
              <span class="index">{{i + 1}}.</span>
              <span class="phrase-text">{{item}}</span>
            </div>
            <div class="item-actions">
              <button mat-icon-button (click)="removeAt(i)">
                <mat-icon color="warn" >delete</mat-icon>
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

    <ng-template #empty>
      <div class="empty">The list is empty. Use "Add" to add items.</div>
    </ng-template>
  </div>

</div>

<div class="fab-container">
  <button mat-fab color="primary" (click)="toggleFab()" aria-label="Menu">
    <mat-icon>{{ isFabOpen ? 'close' : 'menu' }}</mat-icon>
  </button>
  @if (isFabOpen) {

     <button mat-fab color="warn" aria-label="Cancel" (click)="cancel()">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-fab class="green-fab" ria-label="Generate" (click)="generate()">
        <mat-icon>bolt</mat-icon>
      </button>

         <button mat-fab color="primary" aria-label="Add" (click)="addPhraseView()">
        <mat-icon>add</mat-icon>
      </button>
  }
</div>
