.formulations {
  padding: 1rem;
}

.add-btn {
  position: fixed;
  // bottom: 20px;
  top: 60px;
  right: 20px;
}

// .add-btn {
//   position: absolute;
//   top: 60px;
//   // bottom: 90px;
//   right: 15px;
//   z-index: 1000;
// }

.clickable-card {
   padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.clickable-card:hover {
  transform: scale(1.02);
}

