<div class="container">
  <div class="content">
    <div class="sp">
   <mat-form-field appearance="outline" class="full">
      <mat-label>Frase</mat-label>
      <textarea matInput [(ngModel)]="text" rows="6" cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
    </mat-form-field>
    </div>
 

    <div class="selectors">
      <mat-slide-toggle class="blue-toggle" [(ngModel)]="isMensagge" (change)="onToggleChange('mensaje')">Message</mat-slide-toggle>
      <mat-slide-toggle  class="blue-toggle" [(ngModel)]="isReport" (change)="onToggleChange('report')">Report</mat-slide-toggle>
      <mat-slide-toggle   class="blue-toggle" [(ngModel)]="isOther" (change)="onToggleChange('other')">Other</mat-slide-toggle>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="save()" [disabled]="saving">
        <mat-icon>save</mat-icon> Agregar
      </button>
      <button  mat-raised-button color="primary" (click)="text=''">Limpiar</button>
    </div>
</div>
  <mat-progress-spinner *ngIf="saving" mode="indeterminate" diameter="36"></mat-progress-spinner>
</div>


 
    
 