
<div class="comparison-container">

  <div class="product-selectors">
    <mat-form-field appearance="fill">
        <mat-label>Product 1</mat-label>
        <mat-select [(value)]="selectedProducts[0]">
            <mat-option *ngFor="let p of products" [value]="p">{{ p.title }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Product 2</mat-label>
        <mat-select [(value)]="selectedProducts[1]">
            <mat-option *ngFor="let p of products" [value]="p">{{ p.title }}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>

  <ng-container *ngIf="selectedProducts.length === 2 && selectedProducts[0] && selectedProducts[1]">
      <div class="mode-toggle">
          <button mat-raised-button color="primary" (click)="toggleQuickCompare()">
              <mat-icon>{{ quickCompare ? 'list' : 'rule' }}</mat-icon>
              {{ quickCompare ? 'Show All' : 'Quick Compare' }}
          </button>
      </div>

      <div *ngIf="quickCompare" class="differences-counter">
          <mat-icon color="warn">warning</mat-icon>
          <strong>{{ countDifferences() }}</strong> differences were found between the products.
      </div>

      <mat-accordion>
          <mat-expansion-panel *ngFor="let field of fields" [hidden]="quickCompare && !isDifferent(field)">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                       <span *ngIf="quickCompare && isDifferent(field)" class="highlight">
                          Different
                      </span>
                  </mat-panel-title>
                  <mat-panel-description>
                      {{ formatFieldName(field) }}
                  </mat-panel-description>
              </mat-expansion-panel-header>

              <table mat-table [dataSource]="[{}]" class="comparison-table">
                  <ng-container *ngFor="let p of nonNullSelectedProducts; let i = index" [matColumnDef]="'col-' + p.id + '-' + i">
                      <th mat-header-cell *matHeaderCellDef>
                          {{ p.title }}
                      </th>
                      <td mat-cell *matCellDef="let element" [class.highlight-cell]="quickCompare && isDifferent(field)">
                          {{ p[field] || 'N/A' }}
                      </td>
                  </ng-container>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
          </mat-expansion-panel>
      </mat-accordion>
  </ng-container>
</div>
