

<div >
    <!-- <div class="buto" (click)="goHome()">
        <mat-icon aria-hidden="true">home</mat-icon>
    </div> -->

    <div class="buto" (click)="goMix()">
        <p>Technical Notes Mix</p>
    </div>

    <div class="buto" (click)="goCompareTecnnical()">
        <p>Comparator</p>
    </div>

    <div class="buto" (click)=" gochecklist()">
        <p>Tank Mix checklist</p>
    </div>

      <div class="buto" (click)=" goJarTest()">
        <p> Jar Test</p>
    </div>


</div>

        
    