
<mat-sidenav-container class="sidenav-container">

  <!-- Sidenav -->
  <mat-sidenav 
  #sidenav 
  mode="over" 
  position="end" 
  [opened]="false"
  [style.width.px]="200"
  >
    <h3 style="margin: 16px;">Select Pests:</h3>
    <mat-list-item *ngFor="let pest of uniquePests" (click)="seleccionarPest(pest, sidenav)">
      {{ pest }}
    </mat-list-item>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <div class="content">
     
        <mat-form-field appearance="fill" class="search-box">
        <mat-label>Search for product or pest</mat-label>
        <input matInput [(ngModel)]="searchTerm" (input)="buscarCoincidencias()" />
        <button mat-icon-button matSuffix aria-label="Search Information" (click)="openSearchInfo()">
          <mat-icon>info</mat-icon>
        </button>
      </mat-form-field>
    
      <div class="results">
        @for (product of filteredProducts; track product.name) {
        <mat-card (click)="goToDetail(product.id)" class="clickable-card">
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-content>
            <p><strong>Active Ingredient:</strong> {{ product.activeIngredients }}</p>
          </mat-card-content>
        </mat-card>
        }
      </div>

      <!-- Botón flotante a la derecha -->
      <button mat-fab color="primary" class="fab-btn" (click)="sidenav.toggle()">
        <mat-icon>bug_report</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
